<robot name="unnamed" version="1.0">
  <joint name="wall_1_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="ground_plane"/>
    <child link="wall_1"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <link name="ground_plane">
    <collision name="ground_plane_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="10.00000 10.00000 0.10000"/>
      </geometry>
    </collision>
    <visual name="ground_plane_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="Material.001"/>
      <geometry>
        <box size="10.00000 10.00000 0.10000"/>
      </geometry>
    </visual>
  </link>
  <link name="wall_1">
    <collision name="wall_1_collision">
      <origin rpy="1.57080 0.00000 0.00000" xyz="5.00000 0.00000 0.50000"/>
      <geometry>
        <box size="0.10000 1.00000 10.00000"/>
      </geometry>
    </collision>
    <visual name="wall_1_visual">
      <origin rpy="1.57080 0.00000 0.00000" xyz="5.00000 0.00000 0.50000"/>
      <material name="Material.002"/>
      <geometry>
        <box size="0.10000 1.00000 10.00000"/>
      </geometry>
    </visual>
  </link>
  <material name="Material.001">
    <color rgba="0.15294 0.27451 0.80000 1.00000"/>
  </material>
  <material name="Material.002">
    <color rgba="0.66275 0.65098 0.67059 1.00000"/>
  </material>
</robot>