<robot name="unnamed" version="1.0">
  <joint name="wall_1_2" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="wall_1"/>
    <child link="wall_2"/>
  </joint>
  <joint name="wall_2_3" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="wall_2"/>
    <child link="wall_3"/>
  </joint>
  <joint name="wall_3_4" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="wall_3"/>
    <child link="wall_4"/>
  </joint>
  <link name="wall_1">
    <collision name="wall_1_collision">
      <origin rpy="1.57080 0.00000 0.00000" xyz="5.00000 0.00000 0.50000"/>
      <geometry>
        <box size="0.10000 1.00000 10.00000"/>
      </geometry>
    </collision>
    <visual name="wall_1_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="5.00000 0.00000 0.50000"/>
      <material name="grey"/>
      <geometry>
        <box size="0.10000 10.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="wall_2">
    <collision name="wall_2_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-5.00000 0.00000 0.50000"/>
      <geometry>
        <box size="0.10000 10.00000 1.00000"/>
      </geometry>
    </collision>
    <visual name="wall_2_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-5.00000 0.00000 0.50000"/>
      <material name="green"/>
      <geometry>
        <box size="0.10000 10.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="wall_3">
    <collision name="wall_3_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 5.00000 0.50000"/>
      <geometry>
        <box size="10.00000 0.10000 1.00000"/>
      </geometry>
    </collision>
    <visual name="wall_3_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 5.00000 0.50000"/>
      <material name="bliue"/>
      <geometry>
        <box size="10.00000 0.10000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="wall_4">
    <collision name="wall_4_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -5.00000 0.50000"/>
      <geometry>
        <box size="10.00000 0.10000 1.00000"/>
      </geometry>
    </collision>
    <visual name="wall_4_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -5.00000 0.50000"/>
      <material name="red"/>
      <geometry>
        <box size="10.00000 0.10000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <material name="bliue">
    <color rgba="0.11373 0.33333 0.80000 1.00000"/>
  </material>
  <material name="green">
    <color rgba="0.20392 0.80000 0.20392 1.00000"/>
  </material>
  <material name="grey">
    <color rgba="0.66275 0.65098 0.67059 1.00000"/>
  </material>
  <material name="red">
    <color rgba="0.80000 0.12157 0.12157 1.00000"/>
  </material>
</robot>